@font-face {
    font-family: 'Anton', sans-serif;
    font-family: 'Work Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@400;500;700&display=swap");
}

.logo {
    width: 9vh;
}

nav,
#menu-checkbox {
    display: none;
}

nav {
    position: absolute;
    background-color:#FBFCDC;
    border: 2px solid #fec400;
}

header {
    position: relative;
}

nav a {
    display: block;
    border-bottom: 1px solid #fec400;
    text-decoration: none;
    color: black;
    padding: 10px 30px 15px 10px;
    font-weight: bold;
}

nav ul {
    padding: 0;
    margin-bottom: 0;
}

nav li {
    list-style-type: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

body {
    background-color: #FBFCDC;
    color:black;
    font-family: "work Sans";
    margin: auto;   
    font-weight: 500;
}

h1 {
    text-align: center;
}

h1, 
h2 {
    color: #0277E0;
    font-family: "Anton";
}

img {
    max-width: 100%;
}

main {
    margin-bottom: 50px;
}

footer {
    background-color: #fec400;
}

.heading-contact,
.heading {
    background-color: #0277E0;
    color: black;
    text-align: center;
    margin: 0 auto;
    height: 9vh;
} 

.heading-contact {
    width: 18vh;
}

.heading h1 {
    color: black;
}

.title {
    background-color: #A5C8E7;
    color: black;
    width: 20vh;
    height: 7vh;
    text-align: center;
}

.services-img,
.news-img {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
}

.spaces-robo,
.spaces,
.ages {
    width: 34vh;
}

.csm-info,
.rooms {
    padding-left: 20px;
    padding-right: 20px;
}

.take-part,
.welcome-info,
.exhibition-spaces,
.for-all {
    padding-left: 55px;
    padding-right: 55px;
}

/*Home*/

.spaces-robo,
.spaces {
    background-color: #D47636;
    margin-bottom: 30px;
    border-radius: 15px;
}

.spaces {
    height: 55vh;
}

.spaces-robo p,
.spaces p {
    margin-left: 20px;
    margin-right: 20px;
}

.spaces-robo {
    height: 62vh;
}

.spaces-robo img,
.spaces img {
    width: 34vh;
    height: 22vh;
    border-radius: inherit;
}

.aeronautics {
    background-color: #459720;
}

.energetica {
    background-color: #0277E0;
}

.night-museum {
    background-color: #C741A2;
}

.news h2 {
    width: 15vh;
    height: 6vh;
}

.news h3 {
    color: #FBFCDC;
}

.cta-date,
.cta h3 {
    border-radius: 5px;
}

.cta-date {
    background-color: #A5C8E7;
    color: black;
    width: 15vh;
    height: 5vh;
    text-align: center;
}

.cta-date a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cta h3 {
    background-color: #fec400;
    color: black;
    width: 18vh;
    height: 6vh;
}

.cta {
    text-align: center;
    text-decoration: none;
}

/*Explore*/

.explore {
    background-image: url(../images/binoculars.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Visit*/

.visit {
    background-image: url(../images/museum-building.jpg);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.tours {
    background-color: #D47636;
}

.accessibility {
    background-color: #fec400;
}

.food {
    background-color: #C741A2;
}

.shop {
    background-color: #0277E0;
}

/*Exhibition spaces*/

.exhibition {
    background-image: url(../images/elephant-museum.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Tickets*/

.tickets h1 {
    background-color: #C741A2;
    color: #FBFCDC;
}

/*Involved*/

.involved {
    background-image: url(../images/three.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.take-part {
    padding-top: 50px;
}

/*Contact*/

.contact {
    background-image: url(../images/astronaut.jpg);
    min-height: 28vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.form_input {
    border: 2px solid #0277E0;
    background-color: #A5C8E7;
}

.sign_up,
.form_input,
.submit {
    border-radius: 5px;
}

.submit {
    background-color: #0277E0;
    color: #FBFCDC;
}




/* https://www.youtube.com/watch?v=fjrviv5pw5M */