.explore {
    background: url(../images/binoculars.jpg) center no-repeat;
    background-size: cover;
}

.for-all {
    margin-top: 110px;
}

.ages {
    position: relative;
    max-width: 1000px;
    margin: auto auto 80px auto;
}

#teens {
    bottom: 420px;
}

#kids {
    bottom: 390px;
}

#teachers {
    bottom: 445px;
}

#researches {
    bottom: 350px;
}