.involved {
    background: url(../images/three.jpg) center no-repeat;
    background-size: cover;
}

.be-part {
    position: relative;
    margin-bottom: 80px;
}

.take-part {
    padding-top: 50px;
    margin-top: 30px;
}

#support {
    bottom: 410px;
}

#volunteer {
    bottom: 485px;
}

#internship {
    bottom: 390px;
}